<div class="form-container" *ngIf="isFormVisible">
    <p>Reactive-Form </p>
     <p>
        {{"hello world" | uppercase}}
     </p>
     <p>
        {{0.25 | percent}}
     </p>
   <form [formGroup]="userForm">
    {{this.userForm.value | json}}
    <label for="name">Name : </label>
    <input type="text" formControlName="name" placeholder="Enter Your Name : " >
    <div *ngIf="userForm.get('name')?.hasError('required') &&userForm.get('name').touched">Name Is Required : </div>
    <label for="Email">Email : </label>
    <input type="email" formControlName="email" placeholder="Enter Your Email :">
    <button (click)="onSubmit()">Submit</button>
   </form>
   <ul>
    <li *ngFor="let item of items">
        {{item}}
        </li>
   </ul>
   
</div>